In [9]:
import pandas as pd 
  
# making data frame from csv file 
data = pd.read_csv("E:\\Downloads\\nba.csv", index_col ="Name",skipinitialspace=True ) 
  
print(pd.DataFrame(data))

# dropping passed columns 
data.drop(["Team", "Weight"], axis = 1, inplace = True) 
  
# display 
print(data)

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6   235.0
John Holland   Boston Celtics    30.0       SG  27.0    6-5   205.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0
Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
...                       ...     ...      ...   ...    ...     ...
Shelvin Mack        Utah Jazz     8.0       PG  26.0    6-3   203.0
Raul Neto           Utah Jazz    25.0       PG  24.0    6-1   179.0
Tibor Pleiss        Utah Jazz    21.0        C  26.0    7-3   256.0
Jeff Withey         Utah Jazz    24.0        C  26.0    7-0   231.0
NaN                       NaN     NaN      NaN   NaN    NaN     NaN

                         College     Salary
Name
Avery Bradley              Texas  7730337.0
Jae Crowder            Marquette  6796117.0
John Holland   Boston University        NaN
R.J. Hunter        Georgia State  1148640.0
Jonas Jerebko                NaN  5000000.0
...                          ...        ...
Shelvin Mack              Butler  2433333.0
Raul Neto                    NaN   900000.0
Tibor Pleiss                 NaN  2900000.0
Jeff Withey               Kansas   947276.0
NaN                          NaN        NaN

[458 rows x 8 columns]
               Number Position   Age Height            College     Salary
Name
Avery Bradley     0.0       PG  25.0    6-2              Texas  7730337.0
Jae Crowder      99.0       SF  25.0    6-6          Marquette  6796117.0
John Holland     30.0       SG  27.0    6-5  Boston University        NaN
R.J. Hunter      28.0       SG  22.0    6-5      Georgia State  1148640.0
Jonas Jerebko     8.0       PF  29.0   6-10                NaN  5000000.0
...               ...      ...   ...    ...                ...        ...
Shelvin Mack      8.0       PG  26.0    6-3             Butler  2433333.0
Raul Neto        25.0       PG  24.0    6-1                NaN   900000.0
Tibor Pleiss     21.0        C  26.0    7-3                NaN  2900000.0
Jeff Withey      24.0        C  26.0    7-0             Kansas   947276.0
NaN               NaN      NaN   NaN    NaN                NaN        NaN

[458 rows x 6 columns]

In [10]:
# Conversion function in pandas
#converting from Different Different DataType
# python is a great language for doing data analysis primarily because
# of the fantastic ecosystem of data-centric python packages
# Pandas is one of those packages and make data analyzing and importing much easier
data[:10]

               Number Position   Age Height            College      Salary
Name
Avery Bradley     0.0       PG  25.0    6-2              Texas   7730337.0
Jae Crowder      99.0       SF  25.0    6-6          Marquette   6796117.0
John Holland     30.0       SG  27.0    6-5  Boston University         NaN
R.J. Hunter      28.0       SG  22.0    6-5      Georgia State   1148640.0
Jonas Jerebko     8.0       PF  29.0   6-10                NaN   5000000.0
Amir Johnson     90.0       PF  29.0    6-9                NaN  12000000.0
Jordan Mickey    55.0       PF  21.0    6-8                LSU   1170960.0
Kelly Olynyk     41.0        C  25.0    7-0            Gonzaga   2165160.0
Terry Rozier     12.0       PG  22.0    6-2         Louisville   1824360.0
Marcus Smart     36.0       PG  22.0    6-4     Oklahoma State   3431040.0

In [11]:
# in this data there is some NaN value
data.dropna(inplace =True)

In [12]:
data

               Number Position   Age Height        College     Salary
Name
Avery Bradley     0.0       PG  25.0    6-2          Texas  7730337.0
Jae Crowder      99.0       SF  25.0    6-6      Marquette  6796117.0
R.J. Hunter      28.0       SG  22.0    6-5  Georgia State  1148640.0
Jordan Mickey    55.0       PF  21.0    6-8            LSU  1170960.0
Kelly Olynyk     41.0        C  25.0    7-0        Gonzaga  2165160.0
...               ...      ...   ...    ...            ...        ...
Rodney Hood       5.0       SG  23.0    6-8           Duke  1348440.0
Chris Johnson    23.0       SF  26.0    6-6         Dayton   981348.0
Trey Lyles       41.0       PF  20.0   6-10       Kentucky  2239800.0
Shelvin Mack      8.0       PG  26.0    6-3         Butler  2433333.0
Jeff Withey      24.0        C  26.0    7-0         Kansas   947276.0

[364 rows x 6 columns]

In [17]:
# the nan Value is dropped 
# next step is to find out the data type of weight column
before = type(data)
before

pandas.core.frame.DataFrame

In [18]:
print(before)

<class 'pandas.core.frame.DataFrame'>

In [19]:
# will throws numpy.float64 and numpy.int64
# checking deleting and missing values
data.isna()

               Number  Position    Age  Height  College  Salary
Name
Avery Bradley   False     False  False   False    False   False
Jae Crowder     False     False  False   False    False   False
R.J. Hunter     False     False  False   False    False   False
Jordan Mickey   False     False  False   False    False   False
Kelly Olynyk    False     False  False   False    False   False
...               ...       ...    ...     ...      ...     ...
Rodney Hood     False     False  False   False    False   False
Chris Johnson   False     False  False   False    False   False
Trey Lyles      False     False  False   False    False   False
Shelvin Mack    False     False  False   False    False   False
Jeff Withey     False     False  False   False    False   False

[364 rows x 6 columns]

In [20]:
data.isnull()

               Number  Position    Age  Height  College  Salary
Name
Avery Bradley   False     False  False   False    False   False
Jae Crowder     False     False  False   False    False   False
R.J. Hunter     False     False  False   False    False   False
Jordan Mickey   False     False  False   False    False   False
Kelly Olynyk    False     False  False   False    False   False
...               ...       ...    ...     ...      ...     ...
Rodney Hood     False     False  False   False    False   False
Chris Johnson   False     False  False   False    False   False
Trey Lyles      False     False  False   False    False   False
Shelvin Mack    False     False  False   False    False   False
Jeff Withey     False     False  False   False    False   False

[364 rows x 6 columns]

# iterating over rows and columns in Dataframe


Iteration is a general term for taking each item of something, one after another. Pandas DataFrame consists of rows and columns so, in order to iterate over dataframe, we have to iterate a dataframe like a dictionary. In a dictionary, we iterate over the keys of the object in the same way we have to iterate in dataframe.

    int this we use iterrows() function to get the data into loops

In [21]:
for i in data.iterrows():
    print(i)
    print("")

('Avery Bradley', Number                0
Position             PG
Age                  25
Height              6-2
College           Texas
Salary      7.73034e+06
Name: Avery Bradley, dtype: object)

('Jae Crowder', Number               99
Position             SF
Age                  25
Height              6-6
College       Marquette
Salary      6.79612e+06
Name: Jae Crowder, dtype: object)

('R.J. Hunter', Number                 28
Position               SG
Age                    22
Height                6-5
College     Georgia State
Salary        1.14864e+06
Name: R.J. Hunter, dtype: object)

('Jordan Mickey', Number               55
Position             PF
Age                  21
Height              6-8
College             LSU
Salary      1.17096e+06
Name: Jordan Mickey, dtype: object)

('Kelly Olynyk', Number               41
Position              C
Age                  25
Height              7-0
College         Gonzaga
Salary      2.16516e+06
Name: Kelly Olynyk, dtype: object)

('Terry Rozier', Number               12
Position             PG
Age                  22
Height              6-2
College      Louisville
Salary      1.82436e+06
Name: Terry Rozier, dtype: object)

('Marcus Smart', Number                  36
Position                PG
Age                     22
Height                 6-4
College     Oklahoma State
Salary         3.43104e+06
Name: Marcus Smart, dtype: object)

('Jared Sullinger', Number                7
Position              C
Age                  24
Height              6-9
College      Ohio State
Salary      2.56926e+06
Name: Jared Sullinger, dtype: object)

('Isaiah Thomas', Number                4
Position             PG
Age                  27
Height              5-9
College      Washington
Salary      6.91287e+06
Name: Isaiah Thomas, dtype: object)

('Evan Turner', Number               11
Position             SG
Age                  27
Height              6-7
College      Ohio State
Salary      3.42551e+06
Name: Evan Turner, dtype: object)

('James Young', Number               13
Position             SG
Age                  20
Height              6-6
College        Kentucky
Salary      1.74984e+06
Name: James Young, dtype: object)

('Tyler Zeller', Number                  44
Position                 C
Age                     26
Height                 7-0
College     North Carolina
Salary         2.61698e+06
Name: Tyler Zeller, dtype: object)

('Markel Brown', Number                  22
Position                SG
Age                     24
Height                 6-3
College     Oklahoma State
Salary              845059
Name: Markel Brown, dtype: object)

('Wayne Ellington', Number                  21
Position                SG
Age                     28
Height                 6-4
College     North Carolina
Salary             1.5e+06
Name: Wayne Ellington, dtype: object)

('Rondae Hollis-Jefferson', Number               24
Position             SG
Age                  21
Height              6-7
College         Arizona
Salary      1.33548e+06
Name: Rondae Hollis-Jefferson, dtype: object)

('Jarrett Jack', Number                 2
Position              PG
Age                   32
Height               6-3
College     Georgia Tech
Salary           6.3e+06
Name: Jarrett Jack, dtype: object)

('Sean Kilpatrick', Number               6
Position            SG
Age                 26
Height             6-4
College     Cincinnati
Salary          134215
Name: Sean Kilpatrick, dtype: object)

('Shane Larkin', Number               0
Position            PG
Age                 23
Height            5-11
College     Miami (FL)
Salary         1.5e+06
Name: Shane Larkin, dtype: object)

('Brook Lopez', Number              11
Position             C
Age                 28
Height             7-0
College       Stanford
Salary      1.9689e+07
Name: Brook Lopez, dtype: object)

('Chris McCullough', Number                1
Position             PF
Age                  21
Height             6-11
College        Syracuse
Salary      1.14024e+06
Name: Chris McCullough, dtype: object)

('Willie Reed', Number               33
Position             PF
Age                  26
Height             6-10
College     Saint Louis
Salary           947276
Name: Willie Reed, dtype: object)

('Thomas Robinson', Number          41
Position        PF
Age             25
Height        6-10
College     Kansas
Salary      981348
Name: Thomas Robinson, dtype: object)

('Henry Sims', Number              14
Position             C
Age                 26
Height            6-10
College     Georgetown
Salary          947276
Name: Henry Sims, dtype: object)

('Donald Sloan', Number             15
Position           PG
Age                28
Height            6-3
College     Texas A&M
Salary         947276
Name: Donald Sloan, dtype: object)

('Thaddeus Young', Number                30
Position              PF
Age                   27
Height               6-8
College     Georgia Tech
Salary        1.1236e+07
Name: Thaddeus Young, dtype: object)

('Arron Afflalo', Number          4
Position       SG
Age            30
Height        6-5
College      UCLA
Salary      8e+06
Name: Arron Afflalo, dtype: object)

('Lou Amundson', Number               17
Position             PF
Age                  33
Height              6-9
College            UNLV
Salary      1.63548e+06
Name: Lou Amundson, dtype: object)

('Carmelo Anthony', Number               7
Position            SF
Age                 32
Height             6-8
College       Syracuse
Salary      2.2875e+07
Name: Carmelo Anthony, dtype: object)

('Cleanthony Early', Number                 11
Position               SF
Age                    25
Height                6-8
College     Wichita State
Salary             845059
Name: Cleanthony Early, dtype: object)

('Langston Galloway', Number                   2
Position                SG
Age                     24
Height                 6-2
College     Saint Joseph's
Salary              845059
Name: Langston Galloway, dtype: object)

('Jerian Grant', Number               13
Position             PG
Age                  23
Height              6-4
College      Notre Dame
Salary      1.57236e+06
Name: Jerian Grant, dtype: object)

('Robin Lopez', Number              8
Position            C
Age                28
Height            7-0
College      Stanford
Salary      1.265e+07
Name: Robin Lopez, dtype: object)

("Kyle O'Quinn", Number                  9
Position               PF
Age                    26
Height               6-10
College     Norfolk State
Salary           3.75e+06
Name: Kyle O'Quinn, dtype: object)

('Lance Thomas', Number               42
Position             SF
Age                  28
Height              6-8
College            Duke
Salary      1.63684e+06
Name: Lance Thomas, dtype: object)

('Derrick Williams', Number           23
Position         PF
Age              25
Height          6-8
College     Arizona
Salary        4e+06
Name: Derrick Williams, dtype: object)

('Tony Wroten', Number               5
Position            SG
Age                 23
Height             6-6
College     Washington
Salary          167406
Name: Tony Wroten, dtype: object)

('Isaiah Canaan', Number                 0
Position              PG
Age                   25
Height               6-0
College     Murray State
Salary            947276
Name: Isaiah Canaan, dtype: object)

('Robert Covington', Number                   33
Position                 SF
Age                      25
Height                  6-9
College     Tennessee State
Salary                1e+06
Name: Robert Covington, dtype: object)

('Joel Embiid', Number               21
Position              C
Age                  22
Height              7-0
College          Kansas
Salary      4.62696e+06
Name: Joel Embiid, dtype: object)

('Jerami Grant', Number            39
Position          SF
Age               22
Height           6-8
College     Syracuse
Salary        845059
Name: Jerami Grant, dtype: object)

('Richaun Holmes', Number                 22
Position               PF
Age                    22
Height               6-10
College     Bowling Green
Salary        1.07417e+06
Name: Richaun Holmes, dtype: object)

('Carl Landry', Number            7
Position         PF
Age              32
Height          6-9
College      Purdue
Salary      6.5e+06
Name: Carl Landry, dtype: object)

('Kendall Marshall', Number                   5
Position                PG
Age                     24
Height                 6-4
College     North Carolina
Salary         2.14477e+06
Name: Kendall Marshall, dtype: object)

('T.J. McConnell', Number           12
Position         PG
Age              24
Height          6-2
College     Arizona
Salary       525093
Name: T.J. McConnell, dtype: object)

('Nerlens Noel', Number               4
Position            PF
Age                 22
Height            6-11
College       Kentucky
Salary      3.4578e+06
Name: Nerlens Noel, dtype: object)

('Jahlil Okafor', Number                8
Position              C
Age                  20
Height             6-11
College            Duke
Salary      4.58268e+06
Name: Jahlil Okafor, dtype: object)

('Ish Smith', Number                1
Position             PG
Age                  27
Height              6-0
College     Wake Forest
Salary           947276
Name: Ish Smith, dtype: object)

('Nik Stauskas', Number               11
Position             SG
Age                  22
Height              6-6
College        Michigan
Salary      2.86944e+06
Name: Nik Stauskas, dtype: object)

('Hollis Thompson', Number              31
Position            SG
Age                 25
Height             6-8
College     Georgetown
Salary          947276
Name: Hollis Thompson, dtype: object)

('Christian Wood', Number          35
Position        PF
Age             20
Height        6-11
College       UNLV
Salary      525093
Name: Christian Wood, dtype: object)

('DeMarre Carroll', Number             5
Position          SF
Age               29
Height           6-8
College     Missouri
Salary      1.36e+07
Name: DeMarre Carroll, dtype: object)

('DeMar DeRozan', Number             10
Position           SG
Age                26
Height            6-7
College           USC
Salary      1.005e+07
Name: DeMar DeRozan, dtype: object)

('James Johnson', Number                3
Position             PF
Age                  29
Height              6-9
College     Wake Forest
Salary          2.5e+06
Name: James Johnson, dtype: object)

('Cory Joseph', Number          6
Position       PG
Age            24
Height        6-3
College     Texas
Salary      7e+06
Name: Cory Joseph, dtype: object)

('Kyle Lowry', Number              7
Position           PG
Age                30
Height            6-0
College     Villanova
Salary        1.2e+07
Name: Kyle Lowry, dtype: object)

('Patrick Patterson', Number               54
Position             PF
Age                  27
Height              6-9
College        Kentucky
Salary      6.26868e+06
Name: Patrick Patterson, dtype: object)

('Norman Powell', Number          24
Position        SG
Age             23
Height         6-4
College       UCLA
Salary      650000
Name: Norman Powell, dtype: object)

('Terrence Ross', Number               31
Position             SF
Age                  25
Height              6-7
College      Washington
Salary      3.55392e+06
Name: Terrence Ross, dtype: object)

('Jason Thompson', Number           1
Position        PF
Age             29
Height        6-11
College      Rider
Salary      245177
Name: Jason Thompson, dtype: object)

('Delon Wright', Number               55
Position             PG
Age                  24
Height              6-5
College            Utah
Salary      1.50936e+06
Name: Delon Wright, dtype: object)

('Harrison Barnes', Number                  40
Position                SF
Age                     24
Height                 6-8
College     North Carolina
Salary          3.8734e+06
Name: Harrison Barnes, dtype: object)

('Andrew Bogut', Number            12
Position           C
Age               31
Height           7-0
College         Utah
Salary      1.38e+07
Name: Andrew Bogut, dtype: object)

('Ian Clark', Number           21
Position         SG
Age              25
Height          6-3
College     Belmont
Salary       947276
Name: Ian Clark, dtype: object)

('Stephen Curry', Number               30
Position             PG
Age                  28
Height              6-3
College        Davidson
Salary      1.13708e+07
Name: Stephen Curry, dtype: object)

('Festus Ezeli', Number               31
Position              C
Age                  26
Height             6-11
College      Vanderbilt
Salary      2.00875e+06
Name: Festus Ezeli, dtype: object)

('Draymond Green', Number                  23
Position                PF
Age                     26
Height                 6-7
College     Michigan State
Salary         1.42609e+07
Name: Draymond Green, dtype: object)

('Andre Iguodala', Number                9
Position             SF
Age                  32
Height              6-6
College         Arizona
Salary      1.17105e+07
Name: Andre Iguodala, dtype: object)

('Kevon Looney', Number               36
Position             SF
Age                  20
Height              6-9
College            UCLA
Salary      1.13196e+06
Name: Kevon Looney, dtype: object)

('James Michael McAdoo', Number                  20
Position                SF
Age                     23
Height                 6-9
College     North Carolina
Salary              845059
Name: James Michael McAdoo, dtype: object)

('Brandon Rush', Number                4
Position             SF
Age                  30
Height              6-6
College          Kansas
Salary      1.27096e+06
Name: Brandon Rush, dtype: object)

('Marreese Speights', Number              5
Position            C
Age                28
Height           6-10
College       Florida
Salary      3.815e+06
Name: Marreese Speights, dtype: object)

('Klay Thompson', Number                    11
Position                  SG
Age                       26
Height                   6-7
College     Washington State
Salary            1.5501e+07
Name: Klay Thompson, dtype: object)

('Cole Aldrich', Number              45
Position             C
Age                 27
Height            6-11
College         Kansas
Salary      1.1006e+06
Name: Cole Aldrich, dtype: object)

('Jeff Ayres', Number                 19
Position               PF
Age                    29
Height                6-9
College     Arizona State
Salary             111444
Name: Jeff Ayres, dtype: object)

('Jamal Crawford', Number             11
Position           SG
Age                36
Height            6-5
College      Michigan
Salary      5.675e+06
Name: Jamal Crawford, dtype: object)

('Branden Dawson', Number                  22
Position                SF
Age                     23
Height                 6-6
College     Michigan State
Salary              525093
Name: Branden Dawson, dtype: object)

('Jeff Green', Number               8
Position            SF
Age                 29
Height             6-9
College     Georgetown
Salary        9.65e+06
Name: Jeff Green, dtype: object)

('Blake Griffin', Number               32
Position             PF
Age                  27
Height             6-10
College        Oklahoma
Salary      1.89077e+07
Name: Blake Griffin, dtype: object)

('Wesley Johnson', Number              33
Position            SF
Age                 28
Height             6-7
College       Syracuse
Salary      1.1006e+06
Name: Wesley Johnson, dtype: object)

('DeAndre Jordan', Number               6
Position             C
Age                 27
Height            6-11
College      Texas A&M
Salary      1.9689e+07
Name: DeAndre Jordan, dtype: object)

('Luc Richard Mbah a Moute', Number          12
Position        PF
Age             29
Height         6-8
College       UCLA
Salary      947276
Name: Luc Richard Mbah a Moute, dtype: object)

('Chris Paul', Number                3
Position             PG
Age                  31
Height              6-0
College     Wake Forest
Salary      2.14687e+07
Name: Chris Paul, dtype: object)

('Paul Pierce', Number             34
Position           SF
Age                38
Height            6-7
College        Kansas
Salary      3.376e+06
Name: Paul Pierce, dtype: object)

('JJ Redick', Number              4
Position           SG
Age                31
Height            6-4
College          Duke
Salary      7.085e+06
Name: JJ Redick, dtype: object)

('Austin Rivers', Number              25
Position            PG
Age                 23
Height             6-4
College           Duke
Salary      3.1108e+06
Name: Austin Rivers, dtype: object)

('C.J. Wilcox', Number               30
Position             SG
Age                  25
Height              6-5
College      Washington
Salary      1.15968e+06
Name: C.J. Wilcox, dtype: object)

('Brandon Bass', Number          2
Position       PF
Age            31
Height        6-8
College       LSU
Salary      3e+06
Name: Brandon Bass, dtype: object)

('Tarik Black', Number          28
Position         C
Age             24
Height         6-9
College     Kansas
Salary      845059
Name: Tarik Black, dtype: object)

('Anthony Brown', Number             3
Position          SF
Age               23
Height           6-7
College     Stanford
Salary        700000
Name: Anthony Brown, dtype: object)

('Jordan Clarkson', Number             6
Position          PG
Age               24
Height           6-5
College     Missouri
Salary        845059
Name: Jordan Clarkson, dtype: object)

('Roy Hibbert', Number               17
Position              C
Age                  29
Height              7-2
College      Georgetown
Salary      1.55922e+07
Name: Roy Hibbert, dtype: object)

('Ryan Kelly', Number                4
Position             PF
Age                  25
Height             6-11
College            Duke
Salary      1.72425e+06
Name: Ryan Kelly, dtype: object)

('Larry Nance Jr.', Number               7
Position            PF
Age                 23
Height             6-9
College        Wyoming
Salary      1.1556e+06
Name: Larry Nance Jr., dtype: object)

('Julius Randle', Number               30
Position             PF
Age                  21
Height              6-9
College        Kentucky
Salary      3.13224e+06
Name: Julius Randle, dtype: object)

("D'Angelo Russell", Number                1
Position             PG
Age                  20
Height              6-5
College      Ohio State
Salary      5.10312e+06
Name: D'Angelo Russell, dtype: object)

('Robert Sacre', Number           50
Position          C
Age              27
Height          7-0
College     Gonzaga
Salary       981348
Name: Robert Sacre, dtype: object)

('Metta World Peace', Number              37
Position            SF
Age                 36
Height             6-7
College     St. John's
Salary          947276
Name: Metta World Peace, dtype: object)

('Nick Young', Number                0
Position             SF
Age                  31
Height              6-7
College             USC
Salary      5.21917e+06
Name: Nick Young, dtype: object)

('Eric Bledsoe', Number             2
Position          PG
Age               26
Height           6-1
College     Kentucky
Salary      1.35e+07
Name: Eric Bledsoe, dtype: object)

('Devin Booker', Number                1
Position             SG
Age                  19
Height              6-6
College        Kentucky
Salary      2.12784e+06
Name: Devin Booker, dtype: object)

('Chase Budinger', Number           10
Position         SF
Age              28
Height          6-7
College     Arizona
Salary       206192
Name: Chase Budinger, dtype: object)

('Archie Goodwin', Number               20
Position             SG
Age                  21
Height              6-5
College        Kentucky
Salary      1.16016e+06
Name: Archie Goodwin, dtype: object)

('John Jenkins', Number              23
Position            SG
Age                 25

In [27]:
for i in data.itertuples():
    print(i)
    print("")

Pandas(Index='Avery Bradley', Number=0.0, Position='PG', Age=25.0, Height='6-2', College='Texas', Salary=7730337.0)

Pandas(Index='Jae Crowder', Number=99.0, Position='SF', Age=25.0, Height='6-6', College='Marquette', Salary=6796117.0)

Pandas(Index='R.J. Hunter', Number=28.0, Position='SG', Age=22.0, Height='6-5', College='Georgia State', Salary=1148640.0)

Pandas(Index='Jordan Mickey', Number=55.0, Position='PF', Age=21.0, Height='6-8', College='LSU', Salary=1170960.0)

Pandas(Index='Kelly Olynyk', Number=41.0, Position='C', Age=25.0, Height='7-0', College='Gonzaga', Salary=2165160.0)

Pandas(Index='Terry Rozier', Number=12.0, Position='PG', Age=22.0, Height='6-2', College='Louisville', Salary=1824360.0)

Pandas(Index='Marcus Smart', Number=36.0, Position='PG', Age=22.0, Height='6-4', College='Oklahoma State', Salary=3431040.0)

Pandas(Index='Jared Sullinger', Number=7.0, Position='C', Age=24.0, Height='6-9', College='Ohio State', Salary=2569260.0)

Pandas(Index='Isaiah Thomas', Number=4.0, Position='PG', Age=27.0, Height='5-9', College='Washington', Salary=6912869.0)

Pandas(Index='Evan Turner', Number=11.0, Position='SG', Age=27.0, Height='6-7', College='Ohio State', Salary=3425510.0)

Pandas(Index='James Young', Number=13.0, Position='SG', Age=20.0, Height='6-6', College='Kentucky', Salary=1749840.0)

Pandas(Index='Tyler Zeller', Number=44.0, Position='C', Age=26.0, Height='7-0', College='North Carolina', Salary=2616975.0)

Pandas(Index='Markel Brown', Number=22.0, Position='SG', Age=24.0, Height='6-3', College='Oklahoma State', Salary=845059.0)

Pandas(Index='Wayne Ellington', Number=21.0, Position='SG', Age=28.0, Height='6-4', College='North Carolina', Salary=1500000.0)

Pandas(Index='Rondae Hollis-Jefferson', Number=24.0, Position='SG', Age=21.0, Height='6-7', College='Arizona', Salary=1335480.0)

Pandas(Index='Jarrett Jack', Number=2.0, Position='PG', Age=32.0, Height='6-3', College='Georgia Tech', Salary=6300000.0)

Pandas(Index='Sean Kilpatrick', Number=6.0, Position='SG', Age=26.0, Height='6-4', College='Cincinnati', Salary=134215.0)

Pandas(Index='Shane Larkin', Number=0.0, Position='PG', Age=23.0, Height='5-11', College='Miami (FL)', Salary=1500000.0)

Pandas(Index='Brook Lopez', Number=11.0, Position='C', Age=28.0, Height='7-0', College='Stanford', Salary=19689000.0)

Pandas(Index='Chris McCullough', Number=1.0, Position='PF', Age=21.0, Height='6-11', College='Syracuse', Salary=1140240.0)

Pandas(Index='Willie Reed', Number=33.0, Position='PF', Age=26.0, Height='6-10', College='Saint Louis', Salary=947276.0)

Pandas(Index='Thomas Robinson', Number=41.0, Position='PF', Age=25.0, Height='6-10', College='Kansas', Salary=981348.0)

Pandas(Index='Henry Sims', Number=14.0, Position='C', Age=26.0, Height='6-10', College='Georgetown', Salary=947276.0)

Pandas(Index='Donald Sloan', Number=15.0, Position='PG', Age=28.0, Height='6-3', College='Texas A&M', Salary=947276.0)

Pandas(Index='Thaddeus Young', Number=30.0, Position='PF', Age=27.0, Height='6-8', College='Georgia Tech', Salary=11235955.0)

Pandas(Index='Arron Afflalo', Number=4.0, Position='SG', Age=30.0, Height='6-5', College='UCLA', Salary=8000000.0)

Pandas(Index='Lou Amundson', Number=17.0, Position='PF', Age=33.0, Height='6-9', College='UNLV', Salary=1635476.0)

Pandas(Index='Carmelo Anthony', Number=7.0, Position='SF', Age=32.0, Height='6-8', College='Syracuse', Salary=22875000.0)

Pandas(Index='Cleanthony Early', Number=11.0, Position='SF', Age=25.0, Height='6-8', College='Wichita State', Salary=845059.0)

Pandas(Index='Langston Galloway', Number=2.0, Position='SG', Age=24.0, Height='6-2', College="Saint Joseph's", Salary=845059.0)

Pandas(Index='Jerian Grant', Number=13.0, Position='PG', Age=23.0, Height='6-4', College='Notre Dame', Salary=1572360.0)

Pandas(Index='Robin Lopez', Number=8.0, Position='C', Age=28.0, Height='7-0', College='Stanford', Salary=12650000.0)

Pandas(Index="Kyle O'Quinn", Number=9.0, Position='PF', Age=26.0, Height='6-10', College='Norfolk State', Salary=3750000.0)

Pandas(Index='Lance Thomas', Number=42.0, Position='SF', Age=28.0, Height='6-8', College='Duke', Salary=1636842.0)

Pandas(Index='Derrick Williams', Number=23.0, Position='PF', Age=25.0, Height='6-8', College='Arizona', Salary=4000000.0)

Pandas(Index='Tony Wroten', Number=5.0, Position='SG', Age=23.0, Height='6-6', College='Washington', Salary=167406.0)

Pandas(Index='Isaiah Canaan', Number=0.0, Position='PG', Age=25.0, Height='6-0', College='Murray State', Salary=947276.0)

Pandas(Index='Robert Covington', Number=33.0, Position='SF', Age=25.0, Height='6-9', College='Tennessee State', Salary=1000000.0)

Pandas(Index='Joel Embiid', Number=21.0, Position='C', Age=22.0, Height='7-0', College='Kansas', Salary=4626960.0)

Pandas(Index='Jerami Grant', Number=39.0, Position='SF', Age=22.0, Height='6-8', College='Syracuse', Salary=845059.0)

Pandas(Index='Richaun Holmes', Number=22.0, Position='PF', Age=22.0, Height='6-10', College='Bowling Green', Salary=1074169.0)

Pandas(Index='Carl Landry', Number=7.0, Position='PF', Age=32.0, Height='6-9', College='Purdue', Salary=6500000.0)

Pandas(Index='Kendall Marshall', Number=5.0, Position='PG', Age=24.0, Height='6-4', College='North Carolina', Salary=2144772.0)

Pandas(Index='T.J. McConnell', Number=12.0, Position='PG', Age=24.0, Height='6-2', College='Arizona', Salary=525093.0)

Pandas(Index='Nerlens Noel', Number=4.0, Position='PF', Age=22.0, Height='6-11', College='Kentucky', Salary=3457800.0)

Pandas(Index='Jahlil Okafor', Number=8.0, Position='C', Age=20.0, Height='6-11', College='Duke', Salary=4582680.0)

Pandas(Index='Ish Smith', Number=1.0, Position='PG', Age=27.0, Height='6-0', College='Wake Forest', Salary=947276.0)

Pandas(Index='Nik Stauskas', Number=11.0, Position='SG', Age=22.0, Height='6-6', College='Michigan', Salary=2869440.0)

Pandas(Index='Hollis Thompson', Number=31.0, Position='SG', Age=25.0, Height='6-8', College='Georgetown', Salary=947276.0)

Pandas(Index='Christian Wood', Number=35.0, Position='PF', Age=20.0, Height='6-11', College='UNLV', Salary=525093.0)

Pandas(Index='DeMarre Carroll', Number=5.0, Position='SF', Age=29.0, Height='6-8', College='Missouri', Salary=13600000.0)

Pandas(Index='DeMar DeRozan', Number=10.0, Position='SG', Age=26.0, Height='6-7', College='USC', Salary=10050000.0)

Pandas(Index='James Johnson', Number=3.0, Position='PF', Age=29.0, Height='6-9', College='Wake Forest', Salary=2500000.0)

Pandas(Index='Cory Joseph', Number=6.0, Position='PG', Age=24.0, Height='6-3', College='Texas', Salary=7000000.0)

Pandas(Index='Kyle Lowry', Number=7.0, Position='PG', Age=30.0, Height='6-0', College='Villanova', Salary=12000000.0)

Pandas(Index='Patrick Patterson', Number=54.0, Position='PF', Age=27.0, Height='6-9', College='Kentucky', Salary=6268675.0)

Pandas(Index='Norman Powell', Number=24.0, Position='SG', Age=23.0, Height='6-4', College='UCLA', Salary=650000.0)

Pandas(Index='Terrence Ross', Number=31.0, Position='SF', Age=25.0, Height='6-7', College='Washington', Salary=3553917.0)

Pandas(Index='Jason Thompson', Number=1.0, Position='PF', Age=29.0, Height='6-11', College='Rider', Salary=245177.0)

Pandas(Index='Delon Wright', Number=55.0, Position='PG', Age=24.0, Height='6-5', College='Utah', Salary=1509360.0)

Pandas(Index='Harrison Barnes', Number=40.0, Position='SF', Age=24.0, Height='6-8', College='North Carolina', Salary=3873398.0)

Pandas(Index='Andrew Bogut', Number=12.0, Position='C', Age=31.0, Height='7-0', College='Utah', Salary=13800000.0)

Pandas(Index='Ian Clark', Number=21.0, Position='SG', Age=25.0, Height='6-3', College='Belmont', Salary=947276.0)

Pandas(Index='Stephen Curry', Number=30.0, Position='PG', Age=28.0, Height='6-3', College='Davidson', Salary=11370786.0)

Pandas(Index='Festus Ezeli', Number=31.0, Position='C', Age=26.0, Height='6-11', College='Vanderbilt', Salary=2008748.0)

Pandas(Index='Draymond Green', Number=23.0, Position='PF', Age=26.0, Height='6-7', College='Michigan State', Salary=14260870.0)

Pandas(Index='Andre Iguodala', Number=9.0, Position='SF', Age=32.0, Height='6-6', College='Arizona', Salary=11710456.0)

Pandas(Index='Kevon Looney', Number=36.0, Position='SF', Age=20.0, Height='6-9', College='UCLA', Salary=1131960.0)

Pandas(Index='James Michael McAdoo', Number=20.0, Position='SF', Age=23.0, Height='6-9', College='North Carolina', Salary=845059.0)

Pandas(Index='Brandon Rush', Number=4.0, Position='SF', Age=30.0, Height='6-6', College='Kansas', Salary=1270964.0)

Pandas(Index='Marreese Speights', Number=5.0, Position='C', Age=28.0, Height='6-10', College='Florida', Salary=3815000.0)

Pandas(Index='Klay Thompson', Number=11.0, Position='SG', Age=26.0, Height='6-7', College='Washington State', Salary=15501000.0)

Pandas(Index='Cole Aldrich', Number=45.0, Position='C', Age=27.0, Height='6-11', College='Kansas', Salary=1100602.0)

Pandas(Index='Jeff Ayres', Number=19.0, Position='PF', Age=29.0, Height='6-9', College='Arizona State', Salary=111444.0)

Pandas(Index='Jamal Crawford', Number=11.0, Position='SG', Age=36.0, Height='6-5', College='Michigan', Salary=5675000.0)

Pandas(Index='Branden Dawson', Number=22.0, Position='SF', Age=23.0, Height='6-6', College='Michigan State', Salary=525093.0)

Pandas(Index='Jeff Green', Number=8.0, Position='SF', Age=29.0, Height='6-9', College='Georgetown', Salary=9650000.0)

Pandas(Index='Blake Griffin', Number=32.0, Position='PF', Age=27.0, Height='6-10', College='Oklahoma', Salary=18907726.0)

Pandas(Index='Wesley Johnson', Number=33.0, Position='SF', Age=28.0, Height='6-7', College='Syracuse', Salary=1100602.0)

Pandas(Index='DeAndre Jordan', Number=6.0, Position='C', Age=27.0, Height='6-11', College='Texas A&M', Salary=19689000.0)

Pandas(Index='Luc Richard Mbah a Moute', Number=12.0, Position='PF', Age=29.0, Height='6-8', College='UCLA', Salary=947276.0)

Pandas(Index='Chris Paul', Number=3.0, Position='PG', Age=31.0, Height='6-0', College='Wake Forest', Salary=21468695.0)

Pandas(Index='Paul Pierce', Number=34.0, Position='SF', Age=38.0, Height='6-7', College='Kansas', Salary=3376000.0)

Pandas(Index='JJ Redick', Number=4.0, Position='SG', Age=31.0, Height='6-4', College='Duke', Salary=7085000.0)

Pandas(Index='Austin Rivers', Number=25.0, Position='PG', Age=23.0, Height='6-4', College='Duke', Salary=3110796.0)

Pandas(Index='C.J. Wilcox', Number=30.0, Position='SG', Age=25.0, Height='6-5', College='Washington', Salary=1159680.0)

Pandas(Index='Brandon Bass', Number=2.0, Position='PF', Age=31.0, Height='6-8', College='LSU', Salary=3000000.0)

Pandas(Index='Tarik Black', Number=28.0, Position='C', Age=24.0, Height='6-9', College='Kansas', Salary=845059.0)

Pandas(Index='Anthony Brown', Number=3.0, Position='SF', Age=23.0, Height='6-7', College='Stanford', Salary=700000.0)

Pandas(Index='Jordan Clarkson', Number=6.0, Position='PG', Age=24.0, Height='6-5', College='Missouri', Salary=845059.0)

Pandas(Index='Roy Hibbert', Number=17.0, Position='C', Age=29.0, Height='7-2', College='Georgetown', Salary=15592217.0)

Pandas(Index='Ryan Kelly', Number=4.0, Position='PF', Age=25.0, Height='6-11', College='Duke', Salary=1724250.0)

Pandas(Index='Larry Nance Jr.', Number=7.0, Position='PF', Age=23.0, Height='6-9', College='Wyoming', Salary=1155600.0)

Pandas(Index='Julius Randle', Number=30.0, Position='PF', Age=21.0, Height='6-9', College='Kentucky', Salary=3132240.0)

Pandas(Index="D'Angelo Russell", Number=1.0, Position='PG', Age=20.0, Height='6-5', College='Ohio State', Salary=5103120.0)

Pandas(Index='Robert Sacre', Number=50.0, Position='C', Age=27.0, Height='7-0', College='Gonzaga', Salary=981348.0)

Pandas(Index='Metta World Peace', Number=37.0, Position='SF', Age=36.0, Height='6-7', College="St. John's", Salary=947276.0)

Pandas(Index='Nick Young', Number=0.0, Position='SF', Age=31.0, Height='6-7', College='USC', Salary=5219169.0)

Pandas(Index='Eric Bledsoe', Number=2.0, Position='PG', Age=26.0, Height='6-1', College='Kentucky', Salary=13500000.0)

Pandas(Index='Devin Booker', Number=1.0, Position='SG', Age=19.0, Height='6-6', College='Kentucky', Salary=2127840.0)

Pandas(Index='Chase Budinger', Number=10.0, Position='SF', Age=28.0, Height='6-7', College='Arizona', Salary=206192.0)

Pandas(Index='Archie Goodwin', Number=20.0, Position='SG', Age=21.0, Height='6-5', College='Kentucky', Salary=1160160.0)

Pandas(Index='John Jenkins', Number=23.0, Position='SG', Age=25.0, Height='6-4', College='Vanderbilt', Salary=981348.0)

Pandas(Index='Brandon Knight', Number=3.0, Position='PG', Age=24.0, Height='6-3', College='Kentucky', Salary=13500000.0)

Pandas(Index='Alex Len', Number=21.0, Position='C', Age=22.0, Height='7-1', College='Maryland', Salary=3807120.0)

Pandas(Index='Jon Leuer', Number=30.0, Position='PF', Age=27.0, Height='6-10', College='Wisconsin', Salary=1035000.0)

Pandas(Index='Phil Pressey', Number=25.0, Position='PG', Age=25.0, Height='5-11', College='Missouri', Salary=55722.0)

Pandas(Index='Ronnie Price', Number=14.0, Position='PG', Age=32.0, Height='6-2', College='Utah Valley', Salary=947276.0)

Pandas(Index='P.J. Tucker', Number=17.0, Position='SF', Age=31.0, Height='6-6', College='Texas', Salary=5500000.0)

Pandas(Index='T.J. Warren', Number=12.0, Position='SF', Age=22.0, Height='6-8', College='North Carolina State', Salary=2041080.0)

Pandas(Index='Alan Williams', Number=15.0, Position='C', Age=23.0, Height='6-8', College='UC Santa Barbara', Salary=83397.0)

Pandas(Index='Quincy Acy', Number=13.0, Position='SF', Age=25.0, Height='6-7', College='Baylor', Salary=981348.0)

Pandas(Index='James Anderson', Number=5.0, Position='SG', Age=27.0, Height='6-6', College='Oklahoma State', Salary=1015421.0)

Pandas(Index='Caron Butler', Number=31.0, Position='SF', Age=36.0, Height='6-7', College='Connecticut', Salary=1449187.0)

Pandas(Index='Willie Cauley-Stein', Number=0.0, Position='C', Age=22.0, Height='7-0', College='Kentucky', Salary=3398280.0)

Pandas(Index='Darren Collison', Number=7.0, Position='PG', Age=28.0, Height='6-0', College='UCLA', Salary=5013559.0)

Pandas(Index='DeMarcus Cousins', Number=15.0, Position='C', Age=25.0, Height='6-11', College='Kentucky', Salary=15851950.0)

Pandas(Index='Seth Curry', Number=30.0, Position='SG', Age=25.0, Height='6-2', College='Duke', Salary=947276.0)

Pandas(Index='Duje Dukan', Number=26.0, Position='PF', Age=24.0, Height='6-9', College='Wisconsin', Salary=525093.0)

Pandas(Index='Rudy Gay', Number=8.0, Position='SF', Age=29.0, Height='6-8', College='Connecticut', Salary=12403101.0)

Pandas(Index='Kosta Koufos', Number=41.0, Position='C', Age=27.0, Height='7-0', College='Ohio State', Salary=7700000.0)

Pandas(Index='Ben McLemore', Number=23.0, Position='SG', Age=23.0, Height='6-5', College='Kansas', Salary=3156600.0)

Pandas(Index='Eric Moreland', Number=25.0, Position='PF', Age=24.0, Height='6-10', College='Oregon State', Salary=845059.0)

Pandas(Index='Rajon Rondo', Number=9.0, Position='PG', Age=30.0, Height='6-1', College='Kentucky', Salary=9500000.0)

Pandas(Index='Cameron Bairstow', Number=41.0, Position='PF', Age=25.0, Height='6-9', College='New Mexico', Salary=845059.0)

Pandas(Index='Aaron Brooks', Number=0.0, Position='PG', Age=31.0, Height='6-0', College='Oregon', Salary=2250000.0)

Pandas(Index='Jimmy Butler', Number=21.0, Position='SG', Age=26.0, Height='6-7', College='Marquette', Salary=16407500.0)

Pandas(Index='Mike Dunleavy', Number=34.0, Position='SG', Age=35.0, Height='6-9', College='Duke', Salary=4500000.0)

Pandas(Index='Taj Gibson', Number=22.0, Position='PF', Age=30.0, Height='6-9', College='USC', Salary=8500000.0)

Pandas(Index='Justin Holiday', Number=7.0, Position='SG', Age=27.0, Height='6-6', College='Washington', Salary=947276.0)

Pandas(Index='Doug McDermott', Number=3.0, Position='SF', Age=24.0, Height='6-8', College='Creighton', Salary=2380440.0)

Pandas(Index="E'Twaun Moore", Number=55.0, Position='SG', Age=27.0, Height='6-4', College='Purdue', Salary=1015421.0)

Pandas(Index='Joakim Noah', Number=13.0, Position='C', Age=31.0, Height='6-11', College='Florida', Salary=13400000.0)

Pandas(Index='Bobby Portis', Number=5.0, Position='PF', Age=21.0, Height='6-11', College='Arkansas', Salary=1391160.0)

Pandas(Index='Derrick Rose', Number=1.0, Position='PG', Age=27.0, Height='6-3', College='Memphis', Salary=20093064.0)

Pandas(Index='Tony Snell', Number=20.0, Position='SF', Age=24.0, Height='6-7', College='New Mexico', Salary=1535880.0)

Pandas(Index='Matthew Dellavedova', Number=8.0, Position='PG', Age=25.0, Height='6-4', College="Saint Mary's", Salary=1147276.0)

Pandas(Index='Channing Frye', Number=9.0, Position='PF', Age=33.0, Height='6-11', College='Arizona', Salary=8193029.0)

Pandas(Index='Kyrie Irving', Number=2.0, Position='PG', Age=24.0, Height='6-3', College='Duke', Salary=16407501.0)

Pandas(Index='Richard Jefferson', Number=24.0, Position='SF', Age=35.0, Height='6-7', College='Arizona', Salary=947276.0)

Pandas(Index='James Jones', Number=1.0, Position='SG', Age=35.0, Height='6-8', College='Miami (FL)', Salary=947276.0)

Pandas(Index='Sasha Kaun', Number=14.0, Position='C', Age=31.0, Height='6-11', College='Kansas', Salary=1276000.0)

Pandas(Index='Kevin Love', Number=0.0, Position='PF', Age=27.0, Height='6-10', College='UCLA', Salary=19689000.0)

Pandas(Index='Jordan McRae', Number=12.0, Position='SG', Age=25.0, Height='6-5', College='Tennessee', Salary=111196.0)

Pandas(Index='Iman Shumpert', Number=4.0, Position='SG', Age=25.0, Height='6-5', College='Georgia Tech', Salary=8988765.0)

Pandas(Index='Tristan Thompson', Number=13.0, Position='C', Age=25.0, Height='6-9', College='Texas', Salary=14260870.0)

Pandas(Index='Mo Williams', Number=52.0, Position='PG', Age=33.0, Height='6-1', College='Alabama', Salary=2100000.0)

Pandas(Index='Joel Anthony', Number=50.0, Position='C', Age=33.0, Height='6-9', College='UNLV', Salary=2500000.0)

Pandas(Index='Aron Baynes', Number=12.0, Position='C', Age=29.0, Height='6-10', College='Washington State', Salary=6500000.0)

Pandas(Index='Steve Blake', Number=22.0, Position='PG', Age=36.0, Height='6-3', College='Maryland', Salary=2170465.0)

Pandas(Index='Lorenzo Brown', Number=17.0, Position='PG', Age=25.0, Height='6-5', College='North Carolina State', Salary=111444.0)

Pandas(Index='Reggie Bullock', Number=25.0, Position='SF', Age=25.0, Height='6-7', College='North Carolina', Salary=1252440.0)

Pandas(Index='Kentavious Caldwell-Pope', Number=5.0, Position='SG', Age=23.0, Height='6-5', College='Georgia', Salary=2891760.0)

Pandas(Index='Spencer Dinwiddie', Number=8.0, Position='PG', Age=23.0, Height='6-6', College='Colorado', Salary=845059.0)

Pandas(Index='Andre Drummond', Number=0.0, Position='C', Age=22.0, Height='6-11', College='Connecticut', Salary=3272091.0)

Pandas(Index='Tobias Harris', Number=34.0, Position='SF', Age=23.0, Height='6-9', College='Tennessee', Salary=16000000.0)

Pandas(Index='Darrun Hilliard', Number=6.0, Position='SF', Age=23.0, Height='6-6', College='Villanova', Salary=600000.0)

Pandas(Index='Reggie Jackson', Number=1.0, Position='PG', Age=26.0, Height='6-3', College='Boston College', Salary=13913044.0)

Pandas(Index='Stanley Johnson', Number=3.0, Position='SF', Age=20.0, Height='6-7', College='Arizona', Salary=2841960.0)

Pandas(Index='Jodie Meeks', Number=20.0, Position='SG', Age=28.0, Height='6-4', College='Kentucky', Salary=6270000.0)

Pandas(Index='Marcus Morris', Number=13.0, Position='PF', Age=26.0, Height='6-9', College='Kansas', Salary=5000000.0)

Pandas(Index='Anthony Tolliver', Number=43.0, Position='PF', Age=31.0, Height='6-8', College='Creighton', Salary=3000000.0)

Pandas(Index='Lavoy Allen', Number=5.0, Position='PF', Age=27.0, Height='6-9', College='Temple', Salary=4050000.0)

Pandas(Index='Rakeem Christmas', Number=25.0, Position='PF', Age=24.0, Height='6-9', College='Syracuse', Salary=1007026.0)

Pandas(Index='Paul George', Number=13.0, Position='SF', Age=26.0, Height='6-9', College='Fresno State', Salary=17120106.0)


In [28]:
for i in data.iteritems():
    print(i)
    print('')

('Number', Name
Avery Bradley     0.0
Jae Crowder      99.0
R.J. Hunter      28.0
Jordan Mickey    55.0
Kelly Olynyk     41.0
                 ...
Rodney Hood       5.0
Chris Johnson    23.0
Trey Lyles       41.0
Shelvin Mack      8.0
Jeff Withey      24.0
Name: Number, Length: 364, dtype: float64)

('Position', Name
Avery Bradley    PG
Jae Crowder      SF
R.J. Hunter      SG
Jordan Mickey    PF
Kelly Olynyk      C
                 ..
Rodney Hood      SG
Chris Johnson    SF
Trey Lyles       PF
Shelvin Mack     PG
Jeff Withey       C
Name: Position, Length: 364, dtype: object)

('Age', Name
Avery Bradley    25.0
Jae Crowder      25.0
R.J. Hunter      22.0
Jordan Mickey    21.0
Kelly Olynyk     25.0
                 ...
Rodney Hood      23.0
Chris Johnson    26.0
Trey Lyles       20.0
Shelvin Mack     26.0
Jeff Withey      26.0
Name: Age, Length: 364, dtype: float64)

('Height', Name
Avery Bradley     6-2
Jae Crowder       6-6
R.J. Hunter       6-5
Jordan Mickey     6-8
Kelly Olynyk      7-0
                 ...
Rodney Hood       6-8
Chris Johnson     6-6
Trey Lyles       6-10
Shelvin Mack      6-3
Jeff Withey       7-0
Name: Height, Length: 364, dtype: object)

('College', Name
Avery Bradley            Texas
Jae Crowder          Marquette
R.J. Hunter      Georgia State
Jordan Mickey              LSU
Kelly Olynyk           Gonzaga
                     ...
Rodney Hood               Duke
Chris Johnson           Dayton
Trey Lyles            Kentucky
Shelvin Mack            Butler
Jeff Withey             Kansas
Name: College, Length: 364, dtype: object)

('Salary', Name
Avery Bradley    7730337.0
Jae Crowder      6796117.0
R.J. Hunter      1148640.0
Jordan Mickey    1170960.0
Kelly Olynyk     2165160.0
                   ...
Rodney Hood      1348440.0
Chris Johnson     981348.0
Trey Lyles       2239800.0
Shelvin Mack     2433333.0
Jeff Withey       947276.0
Name: Salary, Length: 364, dtype: float64)

# working with missing data in pandas

missing Data can occur when no information is provided for one more
items or for a whole unit. Missing Data is a very big problem in ral life 
scenario 
1. it's also refer as Na(Not Avail) values in pandas.
2. every Data Scientist has to closely look into this section so the damage can prevent in future
For Example, Suppose different user being surveyed may choose not to share their income, some user may choose not
to share the address in this way many datasets went missing.

In [ ]:
in pandas treat none and NaN as essentially interchangeable 
for indicating missing or null values.
To facilitate this convention, there are several useful functions for detecting,
removing, and replacing null values in Pandas DataFrame :
    
1.isnull()
2.notnull()
3.dropna()
4.fillna()
5.replace()
6.interpolate()

i am trying with my data

In [31]:
# chekcing null value
data.isnull()

               Number  Position    Age  Height  College  Salary
Name
Avery Bradley   False     False  False   False    False   False
Jae Crowder     False     False  False   False    False   False
R.J. Hunter     False     False  False   False    False   False
Jordan Mickey   False     False  False   False    False   False
Kelly Olynyk    False     False  False   False    False   False
...               ...       ...    ...     ...      ...     ...
Rodney Hood     False     False  False   False    False   False
Chris Johnson   False     False  False   False    False   False
Trey Lyles      False     False  False   False    False   False
Shelvin Mack    False     False  False   False    False   False
Jeff Withey     False     False  False   False    False   False

[364 rows x 6 columns]

In [ ]:
# The  rest is topic is on another notebook